Options -Indexes
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule registration registration.php [NC,L]
RewriteRule regsend regsend.php [NC,L]
RewriteRule regconf regconf.php [NC,L]
RewriteRule regdata regdata.php [NC,L]
RewriteRule regsummary regsummary.php [NC,L]
RewriteRule abstractform abstractform.php [NC,L]
RewriteRule abstractconf abstractconf.php [NC,L]
RewriteRule abstractsend abstractsend.php [NC,L]
RewriteRule ^([^\.]+)$ $1.html [NC,L]
ErrorDocument 404 /404