/*

Colors: https://coolors.co/086788-07a0c3-f0c808-fff1d0-dd1c1a

*/

a {
    color: black;
}
a:hover {
    color: black;
}
a.head {
    color: red;
    text-decoration: none;
}

body {
    background-color: silver;
    color: black;
}

hr {
    border-color: gray;
}

input[type="text"], td > * {
    vertical-align: middle;
    margin-bottom: 0;
}

/* http://stackoverflow.com/questions/10428720/how-to-keep-indent-for-second-line-in-ordered-lists-via-css */
ol {
    counter-reset: foo;
    display: table;
}
ol > li {
    counter-increment: foo;
    display: table-row;
    list-style: none;
}

ol > li::before {
    content: counter(foo) ".";
    display: table-cell; /* aha! */
    text-align: right;
    padding-right: .3em;
}
ul {
    counter-reset: foo;
    display: table;
}
ul > li {
    counter-increment: foo;
    display: table-row;
    list-style: none;
}

ul > li::before {
    content: counter(foo) ".";
    display: table-cell; /* aha! */
    text-align: right;
    padding-right: .3em;
}


table {
    margin-bottom: 0;
}

td, th {
    border: none;
    padding-top: 0;
}

.box, .toprow {
    border: 2px solid gray;
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    color: black;
}

.container {
    margin-bottom: 3%;
}

.red { color: red; }

.toprow {
    text-align: center;
}

