a {
    color: black;
}
h1, h2, h3 {
    text-align: center;
}
.main {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
img.header {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
