
.ui-helper-hidden-accessible { display: none; }

.ui-menu {
    width: 500px;
    background-color: white;
    border: 2px solid gray;

    color: black;
    font-size: small;

    margin-top: 20px;

    padding: 10px;
    padding-bottom: 0;
}

.ui-autocomplete li:hover {
    color: red;
    font-weight: bold;
}

ul {
    list-style-type: none;
}

